{% extends "base.html" %}

{% load static %}

{% load custom_filters %}

{% block content %}
<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
  <div class="companies20-content">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg text-center">
                  <a href="" class="blog_post_title">If you have any Queries Ask Here..</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg text-center">
                  <a href="" class="blog_post_title">We are here to help you</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg text-center">
                  <a href="" class="blog_post_title">See yourself in a New Light.</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>

</section>
<!-- //banner-slider-->
<!-- main-slider -->
<section class="w3l-blog">
  <div class="text-element-9">
    <div class="mt-3 mb-3" style="text-align: end;">
      <button type="button" class="btn btn-primary theme-button" data-toggle="modal" data-target="#exampleModalCenter">Ask Questions</button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form action='' method='post'>
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ask Here ..</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" name="query" id="exampleFormControlTextarea1" rows="3" required></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      {% if questions %}
        {% for query in questions %}
          <a href="{% url 'question' query.id %}" class="col-lg-6 blog-article-posts bg-color-{% cycle_background_color forloop.counter %}">
            <div class="blog-post d-flex flex-wrap align-content-between">
              <div class="post-content">
                <ul class="author-date mb-4 d-flex align-items-center">
                  <li class="circle-lg avatar"><img src="{% if query.user.display_pic %}{{ query.user.display_pic.url }}{% else %}{% static 'images/defaultprofile.jpg' %}{% endif %}" alt=""></li>
                  <li>by <b>{{query.user.username}}</b></li>
                  <li><span class="fa fa-clock-o" aria-hidden="true"></span> {{query.date}}</li>
                </ul>
                <h4 class="blog_post_title mb-4">{{query.query}}</h4>
              </div>
              <div class="read-button mt-5">Read it <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <div style="width: 100%;text-align: center;min-height:30vh">
          <h3>Be the 1st One to Ask Questions Here ...</h3>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock  %}