{% extends "base.html" %}

{% load static %}

{% block content %}
    
    <section class="w3l-blog-single py-5 mt-5">
      <div class="container py-lg-3">
        <div class="row">
          <div class="col-lg-3 pr-lg-4 order-lg-1 order-2">
            <div class="img-circle">
              <a href="author.html"><img src="{% if query.user.display_pic %}{{ query.user.display_pic.url }}{% else %}{% static 'images/defaultprofile.jpg' %}{% endif %}" alt=""></a>
            </div>
            <h4 class="about-title">About {{query.user}}</h4>
              <p class="mr-lg-3">{{query.user.bio}} <br>
          </div>
          <div class="col-lg-9 pl-lg-0 order-lg-2 order-1">
            <div class="message">
              <ul class="author-date mb-4 d-flex align-items-center">
                <li><span class="fa fa-clock-o" aria-hidden="true"></span> {{query.date}}</li>
                <li><span class="fa fa-commenting-o" aria-hidden="true"></span> <a href="#reply">12 Comments</a></li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span> {{query.time}}</li>
              </ul>
              <h4 class="blog_post_title">{{query.query}}</h4>
              <div class="row mt-4">
                <div class="col-lg-8 pr-lg-4 order-lg-1 order-2">
                  <div class="single-post-content">
                      <a href="" class="col-lg-6 blog-article-posts bg-color-one">
                        <div class="blog-post d-flex flex-wrap align-content-between">
                          <div class="post-content">
                            <ul class="author-date mb-4 d-flex align-items-center">
                              <li class="circle-lg avatar"><img src="{% static 'images/author4.jpg' %}" alt=""></li>
                              <li>by <b>Daniel Roberto</b></li>
                              <li><span class="fa fa-clock-o" aria-hidden="true"></span> Feb 16, 2020</li>
                            </ul>
                            <p class="mb-4">Lorem ipsum dolor sit amet,Ea consequuntur
                                illum facere aperiam sequi optio
                                dolor set consectetur.Ea ipsum sed consequuntur illum facere aperiam sequi optio consectetur
                                adipisicing elitFuga, suscipit totam animi consequatur saepe. Lorem ipsum dolor sit amet,
                                illum facere sequi optio elit..
                            </p>
                            <ul style="display: -webkit-inline-box;">
                                <li ><span class="fa fa-thumbs-up" aria-hidden="true"></span> <a href="#">5 Likes</a></li> 
                            </ul>
                          </div>
                        </div>
                      </a>
                  </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-4 order-lg-2 order-1">
                  <div class="blog-single-content">
                    <a href="#reply"><span class="fa fa-commenting-o" aria-hidden="true"></span> Leave your answers</a>
                  </div>
                  <div class="blog-subscribe p-3 mt-lg-2">
                    <form action="#" method="post" class="subscribe-form">
                        <textarea class="form-control mt-2 mb-2" name="query" id="exampleFormControlTextarea1" rows="3" required style="width:290px"></textarea>
                      <button type="submit" class="btn btn-primary btn-theme">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% endblock %}